body {
    color: #2d2d2b;
    background-color: #FFF;
    /*background: url('../image/bgcloud.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label { display: inline-block; }
#mapCanvas img { max-width: none; }

.uppercase {
    text-transform: uppercase;
}

/* Overrides for bootstrap */
input[type="text"] { margin-bottom: 0; }
input[type="password"] { margin-bottom: 0; }
input[type="file"] { margin-bottom: 0; }
select { margin-bottom: 0; }
.bootstrap-select.btn-group { margin-bottom: 0; }

.control-label { width: 50px; }
#commandProviders .control-label { width: 100px; }


/* Overrides for some jquery ui elements */
.ui-widget-overlay { background: #badaff; }
.fg-toolbar { padding: 10px; }

#header { 
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


.btn-auth { width: 280px; margin: 10px auto; position: relative; }
.btn-auth i { position: absolute; top: 12px; left: 20px; width: 18px; }


.unauthorized { width: 26%;
    margin: 0 auto; }

.clear { clear: both; height: 0; line-height: 0; font-size: 0; }
.margin_top { margin-top: 20px; }
.padding_left { padding-left: 20px; }
.padding_right { padding-right: 20px; }
.ib { display: inline-block; }

#header div.navbar { display: inline-block; }

#account_list_item { display: none; }
#account_details { display: none; }

.data_table { background: #fff; font-size: 0.85em; }

table.dataTable thead th div.DataTables_sort_wrapper {
    position: relative;
    padding-right: 20px;
}

table.dataTable thead th div.DataTables_sort_wrapper span {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0;
}

table.dataTable tr td:first-child {
    border-left: 1px solid #CCC;
}

table.dataTable tr td:last-child {
    border-right: 1px solid #CCC;
}

table.dataTable tbody td {
    vertical-align: top;
    border-bottom: 1px solid #CCC;
}

label#message { float: right; padding-right: 1em; }
#loading_image { position: absolute; left: 106px; top: 40px; display: none; }
div#map_canvas { width: 100%; height: 600px; }

dl { font-size: 1.2em; }
dl#events_table dt { float: left; width: 20%; font-weight: bold; text-align: right; padding-right: 20px; }
dl#events_table dd { float: left; width: 70%; }

/* used for JSON syntax highlighting */
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

pre.coordinate_popover { font-size: 0.8em; height: 300px; overflow-y: scroll; }
pre.route_response_popover { font-size: 0.8em; width: 327px; height: 300px; overflow-y: scroll; }
span#route_response_wrapper .popover { max-width: 376px; width: 376px; }
span#guidance_wrapper .popover { max-width: 376px; width: 376px; }

.playground_params textarea { width: 90%; height: 20em;}

#log_table, #eventTable { overflow-x: scroll; white-space: nowrap; }

#log_table_header, #eventTableHeader { border-bottom: 1px solid gray; }

.log_row { white-space: nowrap; }
.log_ts { display: inline-block; width: 180px; }
.log_category { display: inline-block; width: 50px; }
.log_type { display: inline-block; width: 120px; }
.log_level { display: inline-block; width: 60px; }
.log_user_id { display: inline-block; width: 72px; }
.log_request_id { display: inline-block; width: 72px; }
.log_message { display: inline-block; }
.log_row.ERROR .colored { color: red; }
.log_row.WARN .colored { color: #ffc20f; }
.log_row.INFO .colored { color: #008000; }
.log_row.DEBUG .colored { color: #3a86ff; }

#log_table_footer, #eventTableFooter { margin-top: 10px; border-top: 1px solid gray; }
#log_table_footer .log_request_id { text-align: center; }

.popover_wrapper .popover { max-width: 500px; width: 500px; }
.mapTooltip{ border:thin 1px #eee; background-color:#FFFBF0; padding:5px; width:200px; }

td.icon {
        width: 16px;
}

#searchTermModal { width: 300px; margin-left: -150px; }

.modal-body form label { width: 120px; }
.modal-body form div.formRow { padding: 5px 0; }

img.albumArt { width: 200px; height: 200px; }

.labelmain {
    font-weight: bold;
    color: #555;
}

.labelsub {
    color: #888;
}

a .labelmain {
    color: #08C;
}

a .labelsub {
    color: #79BFE2;
}

.panel {
    margin-bottom: 20px;
}

.panel-heading {
    cursor: pointer;
}

.panel-title {
    padding: 0px 10px;
}

.panel-body {
    background-color: #FFF;
    font-size: 0.85em;
    padding: 5px;
}